<h1>Where to find them</h1>
<% @toilets.each do |toilet| %>
	<article class="post">
		<div class="post-preview col-10 no-gutter">
			<h2>
				<%= link_to(toilet_path(toilet)) do %>
					<%= toilet.title %>
				<% end %>
			</h2>
			<p>
				<%= toilet.description %>
			</p>
		</div>
	</article>
<% end %>
